.main

{
    /* width: 200px;
    height: 200px;
    border: 1px solid green;
    background-size: 100% 100%;
    
    background-image: radial-gradient(blue, yellow);
    background-image: linear-gradient( to left top, black, grey);
    background-image:linear-gradient(rgba(0, 225, 255, 0.1),rgba(157, 255, 0, 0.8)),url(./bow.jpg); */
}


.practice{
width: 500px;
height: 500px;
border: 1px solid black;
/* background-image: radial-gradient(red, blue, pink); */
/* background-image: linear-gradient(to top right, red, orange, yellow, green, blue, indigo, violet); */
background-image: linear-gradient(rgba(255, 255, 0, .6),rgba(19, 126, 153, .6)),url(bow.jpg);
background-size: 100% 100%;

}