*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.innerbox{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 170px;
    left: 170px;
    transform-style: preserve-3d;
    animation: innerbox 2s infinite linear;
}
@keyframes innerbox {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(359deg);
    }
}
.innerbox .box{
    height: 100px;
    width: 100px;
    position: absolute;
    font-size: 90px;
    text-align: center;
    background-color: gray;
}
.innerbox #box-1{
    right: 50px;
    transform: rotateY(-85deg);
}
.innerbox #box-2{
    left: 50px;
    transform: rotateY(85deg);
}
.innerbox #box-3{
    top: 50px;
    transform: rotateX(85deg);
}
.innerbox #box-4{
    top: 50px;
    transform: rotateX(-85deg);
}
.innerbox #box-5{ 
 
    transform: translateZ(-50px);
}
.innerbox #box-6{

    transform: translateZ(50px);
}