*{
    margin: 0;
    padding: 0;
}
.header{
    height: auto;
    width: 100%;
    /* background-color: darkgreen; */
    display: flex;

}
.sidebar{
    height: 110vh;
    width: 20%;
    background-color: pink;
    position: sticky;
    left: 0;
    top: 0;
    border: 1px solid #000;
}
.new{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    color: white;
}
.oi{
    height: 20vh;
    width: 60%;
    margin-top: 10px;
    margin-left: 50px;
    color: white;
    /* background-color: yellow; */
    background-image: url("./logo.png");
    background-size: 100% 100%;
}
.y{
    height: 65vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
ul{

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center ; */
    /* box-sizing:border-box; */
    font-size: 20px;
    list-style: none;
    margin-left: 30px;
    color: white;
    /* padding-left: 50px; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
}
li{
    margin-bottom: 10px;
}
.dc{
    position: relative;
    top: 0px;
    margin-left: 5px;
    font-size: 20px;
    left: 30px;
    /* background-color: white; */
    color: white;
}
.er{
    position: relative;
    text-align: center;
    color: white;
    top: 30px;
}
.header-0{
    height: auto;
    width: 80%;
    /* background-color: darkorange; */
    border: 1px solid #000;
}
.top{
    height: 30px;
    width: 100%;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: auto;
    width: 100%;
}
.heading2{
    height: 70px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-1{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100%;
    height: 230vh;
    align-content: space-around;
    align-items: flex-start;
    background-color: white;
    /* border: 4px solid rgb(216, 17, 17); */

}
.div{
    height: 60vh;
    width: 22%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
}
.im>button{
    position: absolute;
    bottom: 40%;
    left: 80px;
    padding: 10px;
    border-radius:20px;
    background-color: khaki;
    visibility: hidden;
    z-index: 10;
}
.im{
    /* background-size: 100% 100%; */
    position: relative;
    height: 250px;
    width: 100%;
    /* position: absolute; */
    background-color: white;
    /* z-index: -1; */
}
.im:hover{
    opacity: .5;

}
.im:hover.im > button{
    visibility: visible;
}
.heading3{
    height: 70px;
    width: 100%;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Georgia Pro", serif;
    font-size: 30px;
}
.header-2{
    height: 60vh;
    width: 100%;
    /* background-color: gray; */
    display: flex;
}
.pa{
    height: 100%;
    width: 50%;
    /* border: 1px solid #000; */

}
.header-3{
    padding-top: 50px;
    height: 50vh;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;

}
.imag{
    height: 43vh;
    width: 30%;
    /* background-color: hotpink; */
    border: 1px solid hotpink;
    justify-content: center;
    align-items: center;
    font-family: "Georgia Pro", serif;
    font-size: 20px;
    overflow: hidden;
}
.j{
    height: 65%;
    width: 100%;
    transition: all 0.5s ease-in-out;

    /* background-color: indigo; */
}
.j:hover{
    transform: scale(1.2);
}
.l1{
    height: 20vh;
    width: 100%;
    /* border: 1px solid #000; */
    /* background-color: lawngreen; */
}
.ll1{
    height: 100%;
    width: 30%;
    margin-left: 38%;
    /* background-color: lightcoral; */
}
.l2{
    height: 10vh;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    /* background-color: lightseagreen; */
}
.l3{
    height: 5vh;
    width: 100%;
    text-align: center;
    /* background-color: maroon; */
}