*{
    margin: 0;
    padding: 0;
}
.header{
    height: auto;
    width: 100%;
    /* background-color: darkgreen; */
    display: flex;

}
.sidebar{
    height: 110vh;
    width: 20%;
    background-color: pink;
    position: sticky;
    left: 0;
    top: 0;
    border: 1px solid #000;
}
.new{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    color: white;
}
.oi{
    height: 20vh;
    width: 60%;
    margin-top: 10px;
    margin-left: 50px;
    color: white;
    /* background-color: yellow; */
    background-image: url("./logo.png");
    background-size: 100% 100%;
}
.y{
    height: 65vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
ul{

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center ; */
    /* box-sizing:border-box; */
    font-size: 20px;
    list-style: none;
    margin-left: 30px;
    color: white;
    /* padding-left: 50px; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
}
li{
    margin-bottom: 10px;
}
.dc{
    position: relative;
    top: 0px;
    margin-left: 5px;
    font-size: 20px;
    left: 30px;
    /* background-color: white; */
    color: white;
}
.er{
    position: relative;
    text-align: center;
    color: white;
    top: 30px;
}
.header-0{
    height: auto;
    width: 100%;
    border: 1px solid #000;
}
.header-1{
    height: 40vh;
    width: 100%;
    background-color: darkorange;
    background-image: url("./studio1.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.jk{
    /* text-align: center; */
    /* margin-top: 10%; */
    font-size: 40px;
    color: white;
}
.jl{
    /* text-align: center; */
    color: white;
    /* margin-top: 1%; */
    font-size: 30px;   
}
.header-3{
    padding-top: 50px;
    height: auto;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: auto; */
    /* width: 100%; */
    /* background-color: tomato; */


}
.imag{
    height: 43vh;
    width: 30%;
    border: 1px solid #000;
    /* background-color: hotpink; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: "Georgia Pro", serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.j{
    height: 65%;
    width: 100%;
    /* background-color: indigo; */
}
.j{
    height: 65%;
    width: 100%;
    /* background-color: indigo; */
}
.l1{
    height: 20vh;
    width: 100%;
    /* border: 1px solid #000; */
    /* background-color: lawngreen; */
}
.ll1{
    height: 100%;
    width: 30%;
    margin-left: 38%;
    /* background-color: lightcoral; */
}
.l2{
    height: 10vh;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    /* background-color: lightseagreen; */
}
.l3{
    height: 5vh;
    width: 100%;
    text-align: center;
    /* background-color: maroon; */
}