
.parent-main-slider{
width: 80vw;
height: 80vh;
border: 3px solid red;
position: relative;
top: 9vh;
left: 9vw;
}

.child-slider{
height: 100%;
width: 500%;
border: 1px solid black;
position: relative;
animation-name: slider;
animation-duration: 12s;
animation-timing-function: linear;

}
@keyframes slider{
    0%{
        left: 0%;
    }
    16%{
        left:0%;
    }
    21%{
        left: -100%;
    }
    37%{
          left: -100%;
    }
    42%{
        left: -200%;
    }
    58%{
        left: -200%;
    }
    63%{
        left: -300%;
        
    }
    79%{
        left: -300%;

    }
    84%{
        left: -400%;
    }
    
    100%{
        left: -400%;

    }
}

.pic{
background-image: url(./1.jpg);
background-size: 100% 100%;
height: 100%;
position: relative;
width: 20%;
float: left;
}

.pic2{
background-image: url(./2.jpg);
background-size: 100% 100%;
}

.pic3{
    background-image: url(./3.jpg);
    background-size: 100% 100%;
    }

.pic4{
background-image: url(./4.jpg);
background-size: 100% 100%;
}

.pic5{
background-image: url(./5.jpg);
background-size: 100% 100%;
}