*{
padding 0;
margin: 0;
}

.main{
width: 99.8%;
height: 575px;
border: 1px solid hotpink;
}

.background{
position: relative;
top: 100px;
/* border: 1px solid green; */
width: 100%;
height: 375px;
background-image: url(background.jpg);
background-size: 100% 100%;
overflow: hidden;
}


.red{
position: relative;
top: 90px;
width: 300px;
height: 300px;
/* border: 2px solid red; */
left: 100%;
background-image: url(red.png);
background-size: 100% 100%;
animation-name:car1;
animation-duration: 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;

}
@keyframes car1{
0% {transform: translateX(0); }
100% {transform: translateX(-1550px); }
}

.green{
    position: relative;
    top: 150px;
    width: 300px;
    height: 300px;
    /* border: 2px solid green; */
    left: -50%;
    top: -155px;
    background-image: url(green.png);
    background-size: 100% 100%;
    transform: rotateY(180deg);
    animation-name: car2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   animation-timing-function: linear;
  }

    @keyframes car2{
    0%{left: -50%;}
    100%{left: 100%;} 
    }

    .t1{
    position: absolute;
    /* border: 2px solid yellow; */
    height: 60px;
    width: 60px;
    left: 52px;
    top: 158px;
    animation-name: carred;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
     
}

    @keyframes carred{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    }

    .t2{
    left: 192px; 
    }

    .t3{
        position: absolute;
        /* border: 2px solid yellow; */
        height: 60px;
        width: 60px;
        left: 54px;
        top: 154px;
        animation-name: carred;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        }

    @keyframes carred{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
    }
    
        .t4{
        left: 194px; 
        }


.plane{
top: 5px;
left: 1000px;
position:absolute;
width: 250px;
height: 125px;
/* border: 2px solid red; */
background-image: url(plane.png);
background-size: 100% 100%;
animation-name: planeone;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes planeone{
/* 0%{left: 1300px;}
100%{left: -50%;} */
0% {transform: translateX(300px); }
100% {transform: translateX(-1550px); }

}